

/* stying of layer control header */
#control-header {
    font-weight: bold;
    color: red;
}


/* nav bar */
#navbarNavAltMarkup {
    justify-content: center;
}
.nav-item {
    margin-right: 150px;
    margin-left: 150px;
}

.navbar-nav{
    font-weight: 600;
}

.intro{
    background-image: url(../images/mosquito-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    /* width: 100%;
    margin: 0px;
    background-size: cover; */
}

.intro-header{
    margin-top: 15vh;
    margin-bottom: 15vh;
    /* padding-top: 30px; */
    opacity: 0.5;
    background-color: red;
    text-align: center;
    border-radius: 100px;
}

.intro-header h1{
    margin-top: 10%;
    font-size: 3em;
    color: white;
}

@media (max-width:600px){
    .intro-header h1{
        margin-top: 30%;
        font-size: 1.5em;
    }
}

#map {
    height: 800px;
    border-radius: 20px;
}

/* #map-content {
background-color: grey;
} */

.map-section{
    background-color: grey;
}

#map-content article{
    color: white;
    text-align: center;
}

.graph-section {
    background-color: gray;
}

.graphs{
    text-align: center;
}

#graph-header{
    justify-content: center;
}

/* to space out Cases graph y label  */
#graph .y-label{
    transform: translate(20px,134px) rotate(-90deg);
}

/* to sapce out Rainfall graph y label */
#graph3 .y-label{
    transform: translate(20px,134px) rotate(-90deg);
}