#map {
    height: 500px;
}

/* stying of layer control header */
#control-header {
    font-weight: bold;
    color: red;
}


/* nav bar */
#navbarNavAltMarkup {
    justify-content: center;
}
.nav-item {
    margin-right: 150px;
    margin-left: 150px;
}

.navbar-nav{
    font-weight: 600;
}

#intro{
    background-image: url(../images/mosquito-bg.jpg);
    height: 700px;
    background-size: cover;
}